<h3> Get to Know a numpy Array </h3>

You will use the dataframe <code>df</code> for the following:

In [13]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23],'c':[31,32,33],'d':[41,42,43]})
df

    a   b   c   d
0  11  21  31  41
1  21  22  32  42
2  31  23  33  43

1) plot the first three rows:

In [14]:
df.iloc[0:2,0:3]

    a   b   c
0  11  21  31
1  21  22  32

2) obtain column  <code> 'a' </code>

In [21]:
df.ix[0:2,0:2]

/Users/anandgokul/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

    a   b
0  11  21
1  21  22
2  31  23

<hr>
<small>Copyright &copy; 2018 IBM Cognitive Class. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).</small>